<style>
  body {
    font-family: Arial, sans-serif;
  }

  .alert {
    padding: 16px 20px;
    margin-bottom: 15px;
    background-color: #800;
    font-size: 14px;
    color: #fff;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    font-size: 14px;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td.num {
    text-align: right;
    font-family: monospace;
  }

  th.narrow {
    width: 80px;
  }

  td table td.narrow {
    width: 15%;
  }
</style>

{% if dangling_empty_page_answer_data_count %}
<div class="alert">
  Obstaja <strong>{{ dangling_empty_page_answer_data_count }}</strong> praznih odgovorov. Verjetno je bila analitika pobrisana in je ostalo nekaj praznih odgovorov. Sporoči administratorju!
</div>
{% endif %}

{% for chapter, answers in grouped_data.items %}
<div>
  <h2>{{ chapter }}</h2>
  <table class="table">
    <tr>
      <th>Kviz</th>
      <th>Vprašanje</th>
      <th>Odgovori</th>
      <th class="narrow">Pravilno</th>
      <th class="narrow">Narobe</th>
      <th class="narrow">Odstotek</th>
    </tr>
    {% for page, answer in answers.items %}
    <tr>
      <td>{{ page }}</td>
      <td>{{ answer.question }}</td>
      <td style="padding: 0;">
        <table>
          {% for ans_val, count in answer.answers %}
          <tr>
            <td style="font-weight: 700; color: {% if ans_val.correct %}#080{% else %}#800{% endif %};">{{ ans_val.text }}</td>
            <td class="narrow num">{{ count }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td class="num">{{ answer.correct_count }}</td>
      <td class="num">{{ answer.incorrect_count }}</td>
      <td class="num">{{ answer.percentage|floatformat:2 }} %</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endfor %}
