$manipulacija-color-1: #ff4800;
$manipulacija-color-2: #bdfb7b;
$manipulacija-color-3: #abbcff;
$manipulacija-color-4: #4063f6;
$manipulacija-color-5: #f0eb98;
$manipulacija-color-6: #d9e1ff;
$manipulacija-color-7: #7f98ff;
$manipulacija-color-8: #fefdf5;
$manipulacija-color-9: #e3e8fe;

$manipulacija-colors: (
  $manipulacija-color-1,
  $manipulacija-color-2,
  $manipulacija-color-3,
  $manipulacija-color-4,
  $manipulacija-color-5,
  $manipulacija-color-6,
  $manipulacija-color-7,
  $manipulacija-color-8,
  $manipulacija-color-9
);
