:root {
  --color-body-bg: #222;
  --color-bg: #f8f8f4;
  --color-text: #25271d;

  --page-scale: 1;
  --page-max-width: 22.5rem;
  --page-gutter: 1.5625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-body-bg);
  color: var(--color-text);
}
