/**
  * Super Chiby
  */
@font-face {
  font-family: 'wf-super-chiby';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./super-chiby/super_chiby.woff2') format('woff2');
}

/* Schibsted Grotesk */
@font-face {
  font-family: 'wf-schibsted-grotesk';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./schibsted-grotesk/schibsted-grotesk-v7-latin_latin-ext-regular.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'wf-schibsted-grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./schibsted-grotesk/schibsted-grotesk-v7-latin_latin-ext-500.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'wf-schibsted-grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('./schibsted-grotesk/schibsted-grotesk-v7-latin_latin-ext-600.woff2')
    format('woff2');
}
